*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f6f8;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.container{
    width:450px;
    background:white;
    padding:25px;
    border-radius:12px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
    text-align:center;
}

h1{
    margin-bottom:20px;
    color:#333;
}

input{
    width:70%;
    padding:10px;
    border:1px solid #ccc;
    border-radius:6px;
}

button{
    padding:10px 15px;
    border:none;
    background:#24292e;
    color:white;
    border-radius:6px;
    cursor:pointer;
}

button:hover{
    background:#000;
}

#loader{
    margin-top:20px;
    color:#666;
}

#profile{
    margin-top:25px;
}

#profile img{
    width:120px;
    border-radius:50%;
}

#repos{
    margin-top:20px;
    text-align:left;
}

#repos a{
    display:block;
    margin:8px 0;
    text-decoration:none;
    color:#0366d6;
}

#repos a:hover{
    text-decoration:underline;
}
.repo-card{
    border:1px solid #ddd;
    border-radius:10px;
    padding:15px;
    margin:15px 0;
    text-align:left;
    transition:.2s;
}

.repo-card:hover{
    transform:translateY(-3px);
    box-shadow:0 4px 12px rgba(0,0,0,.1);
}

.repo-card a{
    text-decoration:none;
    color:#111827;
}

.repo-card h4{
    margin-bottom:8px;
}

.repo-card p{
    color:#555;
    margin-bottom:10px;
}